/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* Opening Page */
.progress-indicator {
    -fx-progress-color: #ffb347;
    -fx-background-color: transparent;
}
.progress-indicator .percentage {
    -fx-opacity: 0; /* Hides the percentage */
}
/* Generic style for buttons with transparent background */

/* Hover effect for buttons with transparent background */


.usercircle {
    -fx-fill: null; /* Make the circle's background transparent */
    -fx-stroke: null; /* Remove any stroke for clarity */
    -fx-background-radius: 50%; /* Ensure circular cropping */
    -fx-background-image: url('resource/user.png'); /* Path to your image */
    -fx-background-position: center; /* Center the image */
    -fx-background-repeat: no-repeat; /* Prevent repetition */
    -fx-background-size: cover; /* Scale image to fill the circle */
}