/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* Opening Page */
.progress-indicator {
    -fx-progress-color: blue;
    -fx-background-color: transparent;
}
.progress-indicator .percentage {
    -fx-opacity: 0; /* Hides the percentage */
}

.anchor-pane {
    -fx-background-color: linear-gradient(to bottom, #F5F5F5, #FFFFFF);
}


.button:hover {
    -fx-background-color: #3498db; /* Set hover color */
    -fx-text-fill: white; /* Change text color for contrast */
    -fx-background: none; 
}